actionlib==1.13.2
angles==1.9.13
asgiref==3.2.10
astroid==2.4.2
beautifulsoup4==4.9.3
bondpy==1.8.6
camera-calibration==1.15.3
camera-calibration-parsers==1.12.0
catkin==0.8.10
catkin-pkg==0.4.23
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cloudinary==1.22.0
controller-manager==0.19.4
controller-manager-msgs==0.19.4
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.1.1
cv-bridge==1.15.0
defusedxml==0.6.0
diagnostic-analysis==1.10.4
diagnostic-common-diagnostics==1.10.4
diagnostic-updater==1.10.4
distro==1.5.0
dj-database-url==0.5.0
dj3-cloudinary-storage==0.0.3
Django==3.1.2
django-allauth==0.42.0
django-cloudinary-storage==0.3.0
django-cors-headers==3.5.0
django-heroku==0.3.1
django-rest-knox==4.1.0
django-rest-passwordreset==1.1.0
djangorestframework==3.11.1
docutils==0.17.1
drf-yasg==1.17.1
dynamic-reconfigure==1.7.1
flake8==3.8.4
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.6.5
geneus==3.0.0
genlisp==0.4.18
genmsg==0.5.16
gennodejs==2.0.2
genpy==0.6.15
gunicorn==20.0.4
idna==2.10
image-geometry==1.15.0
importlib-metadata==2.0.0
inflection==0.5.1
interactive-markers==1.12.0
isort==5.5.4
itypes==1.2.0
Jinja2==2.11.2
joint-state-publisher==1.15.0
joint-state-publisher-gui==1.15.0
laser-geometry==1.6.7
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
message-filters==1.15.11
numpy==1.20.2
oauthlib==3.1.0
packaging==20.9
Pillow==7.2.0
psycopg2==2.8.6
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-qt-binding==0.4.3
python3-openid==3.2.0
pytz==2020.1
PyYAML==5.4.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
reportlab==3.5.53
requests==2.24.0
requests-oauthlib==1.3.0
resource-retriever==1.12.6
rosbag==1.15.11
rosboost-cfg==1.15.7
rosclean==1.15.7
roscreate==1.15.7
rosgraph==1.15.11
roslaunch==1.15.11
roslib==1.15.7
roslint==0.12.0
roslz4==1.15.11
rosmake==1.15.7
rosmaster==1.15.11
rosmsg==1.15.11
rosnode==1.15.11
rosparam==1.15.11
rospkg==1.3.0
rospy==1.15.11
rosservice==1.15.11
rostest==1.15.11
rostopic==1.15.11
rosunit==1.15.7
roswtf==1.15.11
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.11
rqt-graph==0.4.14
rqt-gui==0.5.2
rqt-gui-py==0.5.2
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.2
rqt-py-console==0.4.10
rqt-reconfigure==0.5.4
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.13
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.6.1
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.2
rqt-top==0.4.10
rqt-topic==0.4.12
rqt-web==0.4.10
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.2
rviz==1.14.7
sensor-msgs==1.13.1
six==1.15.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
soupsieve==2.2.1
sqlparse==0.3.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.5
tf2-kdl==0.7.5
tf2-py==0.7.5
tf2-ros==0.7.5
toml==0.10.1
topic-tools==1.15.11
typed-ast==1.4.1
uritemplate==3.0.1
urllib3==1.25.10
whitenoise==5.2.0
wrapt==1.12.1
xacro==1.14.6
zipp==3.3.0
